<div data-sticky-container>
<div class="top-bar" data-sticky data-options="marginTop:0;" style="width:100%;z-index:999;">
    <div class="top-bar-left">
      <ul class="menu">
        <li id="brand">
          <image id="logo" src="static/img/logo.svg">
          <a href="index.html">Taiji</a>
        </li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><a href="index.html">Home</a></li>
        <li><a target="workflow" href="static/other/taiji.html">Workflow</a></li>
        <li><a href="install.html">Install</a></li>
        <li><a href="blog_1_ATAC.html">Tutorial</a></li>
        <li><a target="_blank" href="https://taiji-pipeline.github.io/documentation/">Manual</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>
</div>
</div>