<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>$title$</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
</head>

<body>

    <div class="ui fixed inverted menu orange borderless">
        <a class="item" href="index.html"><span style="font-size:1.5em;font-family:Roboto;">Taiji</span></a>
        <div class="right menu">
            <a class="item $if(install)$ active $endif$" href="install.html">Install</a>
            <a class="item" href="https://taiji-pipeline.github.io/documentation/">Documentation</a>
            <a class="ui item" href="https://github.com/Taiji-pipeline/Taiji">GITHUB</a>
        </div>
    </div>
    <div style="height: 47px"></div>

    <main role="main">
        $body$
    </main>

    <footer>
    </footer>

</body>

</html>
